<%= render 'components/empty_state/card' do %>
  <div class="text-center space-y-6">
    <div class="space-y-2">
      <h3 class="h2">No chats yet</h3>
      <p class="text-tertiary-500">
        Invite people to use your chatbot with this link
      </p>
    </div>
    <%= link_to new_chat_path(chatbot_id: chatbot.id), class: "btn btn-primary" do %>
      Chat link
    <% end %>
  </div>
<% end %>