<% subtitle ||= nil %>
<% hide_breadcrumbs ||= false %>

<div class="block sm:flex items-center justify-between mb-10">
  <div>
    <% unless hide_breadcrumbs %>
      <div class="mb-4">
        <%= render 'components/navigation/breadcrumbs' %>
      </div>
    <% end %>
    <h1 class="h1"><%= title %></h1>
    <% if subtitle %>
      <p class="text-tertiary-500 mt-2"><%= subtitle %></p>
    <% end %>
  </div>
  <div class="flex items-center space-x-2 mt-4 sm:mt-0">
    <%= yield %>
  </div>
</div>