<% subtitle ||= nil %>

<div class="flex items-center justify-between mb-4">
  <div>
    <h2 class="text-xs tracking-wider text-tertiary-900 uppercase inline-block"><%= title %></h2>
    <% if subtitle %>
      <p class="text-sm text-tertiary-500"><%= subtitle %></p>
    <% end %>
  </div>
  <div class="flex items-center space-x-2">
    <%= yield %>
  </div>
</div>