<% subtitle ||= nil %>

<div class="p-16">
  <%= render 'shared/container' do %>
    <div class="grid grid-cols-7 gap-10">
      <div class="col-span-2">
        <%= render 'components/headers/page_header_2', title: title, subtitle: subtitle %>
      </div>
      <div class="col-span-3">
        <%= yield %>
      </div>
    </div>
  <% end %>
</div>