<%= render 'shared/container', classes: 'max-w-3xl h-full flex flex-col' do %>
  <%= render 'conversations/messages', conversation: conversation %>
  <div class="shrink-0 pb-6">
    <%= render 'messages/form', conversation: conversation, message: message %>
  </div>
<% end %>