<div class="py-6 border-b border-tertiary-300">
  <%= render 'shared/container' do %>
    <div class="flex items-center justify-between">
      <h3 class="h2"><%= title %></h3>
      <%= yield %>
    </div>
  <% end %>
</div>