<%= render 'components/empty_state/card' do %>
  <div class="text-center space-y-6">
    <div class="space-y-2">
      <h3 class="h2">Currently you have no CSV Uploads</h3>
      <p class="text-tertiary-500 max-w-lg mx-auto leading-relaxed">
        Get started by adding a CSV of prompt/responses to train your chatbot.
      </p>
    </div>
  </div>
<% end %>