<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<div class="p-16">
  <%= render 'components/headers/page_header', title: "CSV Uploads", hide_breadcrumbs: true %>
  
  <% if @csv_fine_tunes.any? %>
    
  <% else %>
    <%= render 'csv_fine_tunes_empty_state' %>
  <% end %>
</div>