<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<div class="p-16">
  <%= render 'components/headers/page_header', title: "New CSV Upload", hide_breadcrumbs: true, back_path: dashboard_chatbot_csv_fine_tunes_path(@chatbot) %>
  <div class="max-w-lg">
    <%= render 'dashboard/csv_fine_tunes/form', csv_fine_tune: @csv_fine_tune, chatbot: @chatbot %>
  </div>
</div>