<%= render 'components/empty_state/card' do %>
  <div class="text-center space-y-6">
    <div class="space-y-2">
      <h3 class="header">No feedback yet</h3>
      <p class="text-tertiary-500">
        Here you can correct responses based on feedback from your users
      </p>
    </div>
  </div>
<% end %>