<%= content_for(:side_nav) do %>
  <%= render 'dashboard/chatbots/nav/chatbot_side_nav', chatbot: @chatbot %>
<% end %>

<div class="p-16 space-y-4">
  <h1 class="header">Feedback</h1>
  <div>
    <% if @feedback_list.any? %>
      <%# Feedback timeline %>
      <%= render 'feedback_timeline', feedback_list: @feedback_list %>
    <% else %>
      <%# Empty state %>
      <%= render 'feedback_empty_state' %>
    <% end %>
  </div>
</div>