<div class="h-screen flex flex-col">
  <div class="shrink-0">
    <%= render 'chats/header', chat: @chat %>
  </div>
  <div class="grow-1 h-full overflow-y-scroll">
    <%= render 'shared/container', classes: 'max-w-3xl' do %>
      <p>Render a message about chatbot here</p>
    <% end %>
  </div>
  <div class="shrink-0 py-4 sm:py-6">
    <%= render 'shared/container', classes: 'max-w-3xl' do %>
      <%= render 'chats/form', chat: @chat, chatbot: @chatbot %>
    <% end %>
  </div>
</div>