<div class="flex items-center space-x-2">
  <% if chatbot.published? || chatbot.marketplace? %>
    <%= render 'components/badges/badge_sm', text: chatbot.status&.capitalize, color: 'success' %>
  <% else %>
    <%= render 'components/badges/badge_sm', text: chatbot.status&.capitalize, color: 'info' %>
  <% end %>
</div>