<div class="mx-auto max-w-2xl py-24 sm:py-32">
  <div class="hidden sm:mb-8 sm:flex sm:justify-center">
    <div class="relative rounded-full py-1 px-3 text-sm leading-6 text-tertiary-600 ring-1 ring-tertiary-900/10 hover:ring-tertiary-900/20">
      Vote for us on ProductHunt <a href="#" class="font-semibold text-gray-900"><span class="absolute inset-0" aria-hidden="true"></span>Vote now <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
  <div class="text-center">
    <h1 class="text-4xl font-medium tracking-tighter text-tertiary-900 sm:text-6xl capitalize leading-loose"><span class="text-primary-400">Scale your brand</span> & Reach <span class="text-primary-600">reach more clients</span> with the <span class="text-primary-800">ultimate AI chatbot</span></h1>
    <p class="mt-6 text-lg leading-8 text-tertiary-600">Create remarkably natural client interactions with a cutting-edge AI chatbot that's trained to chat just like you do.</p>
    <div class="mt-10 flex items-center justify-center space-x-4">
      <a href="#" class="btn btn-primary">Get started</a>
      <a href="#" class="btn">Learn more <span aria-hidden="true">→</span></a>
    </div>
  </div>
</div>