<div class="h-screen relative">
  <div class="h-full overflow-y-scroll relative">
    <div class="sticky top-0 z-10 bg-white">
      <%= render 'components/modals/modal_header', title: 'Improve this response' %>
    </div>

    <%= render 'shared/container', classes: 'max-w-3xl' do %>
      <% @message.conversation.messages.each do |message| %>
        <% if message == @message %>
          <%= render 'messages/message', message: message, correction: @correction %>
        <% else %>
          <%= render 'messages/message', message: message %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>