<%# Arguments:
  - f: form builder object
  - field_name: name of the boolean field
  - label_text: optional label text (default: 'Toggle')
%>

<label class="relative inline-flex items-center cursor-pointer">
  <%= f.check_box field_name, class: 'sr-only peer' %>
  <div class="w-11 h-6 bg-tertiary-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-success-200 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-tertiary-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-success-500"></div>
  <% if label_text.present? %>
    <span class="ml-3 mb-0 label"><%= label_text %></span>
  <% end %>
</label>