<% tabs = [
  { name: 'Chatbots', path: dashboard_chatbots_path, active: true }
] %>

<div class="flex space-x-2">
  <% tabs.each do |tab| %>
    <%= link_to tab[:name], tab[:path], class: "px-1 pb-3 text-sm font-normal #{tab[:active] ? 'border-b-2 text-white border-white' : 'border-b-2 border-transparent text-tertiary-500 hover:border-white hover:text-white'}" %>
  <% end %>
</div>