<div class="py-16">
  <%= render 'shared/container' do %>
    <div class="mb-2 -ml-4">
      <%= render 'components/navigation/back_btn' %>
    </div>
    <%= render 'components/headers/page_header', title: 'Edit Example Response', subtitle: "These will be used to inform your chatbot's responses" %>

    <%= render 'form', example_response: @example_response %>
  <% end %>
</div>