<%= render 'shared/container' do %>
  <div class="pt-16 pb-10">
    <%= render 'components/headers/page_header', title: "All Chatbots" %>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <% @chatbots.each do |chatbot| %>
      <%= render chatbot %>
    <% end %>
  </div>
<% end %>
 