<%= render 'shared/container' do %>
  <div class="pt-16 pb-10">
    <%= render 'components/headers/page_header', title: "New Chatbot" %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
      <%= render "form", chatbot: @chatbot %>
    </div>
<% end %>
