<%= render 'components/empty_state/card' do %>
  <div class="text-center space-y-6">
    <div class="space-y-2">
      <h3 class="header">You have no corrections yet</h3>
      <p class="text-tertiary-500 max-w-lg mx-auto leading-relaxed">
        When reading <%= link_to 'Messages', dashboard_chatbot_conversations_path(@chatbot), class: 'link-underline' %> and <%= link_to 'Feedback', dashboard_chatbot_feedback_index_path(@chatbot), class: 'link-underline' %>, you can correct answers that your chatbot got wrong. They will show up here.
      </p>
    </div>
  </div>
<% end %>