<!DOCTYPE html>
<html class="h-full bg-white">
  <%= render 'shared/head' %>

  <body class="h-full">
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'components/modals/modal' %>
  </body>
</html>
